<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="border-b border-gray-300">
        <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 flex items-center justify-between">
            <div class="menu-left flex items-center space-x-6">

                <a href="#" class="text-lg font-semibold text-purple-500">Shoppers</a>

                <ul class="flex items-center space-x-4">
                    <li><a href="{% url 'shop %'}">Sklep</a></li>
                    <li><a href="#">O nas</a></li>
                </ul>
            </div>
            <!-- panel logowania/konta -->
            <div class="menu-right flex items-center space-x-4">


                <a href="http://XD.com">
                    <?xml version="1.0" ?>
                    <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                    <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle cx="25" cy="25" fill="none" r="24" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                        <rect fill="none" height="50" width="50"/>
                        <path d="M29.933,35.528  c-0.146-1.612-0.09-2.737-0.09-4.21c0.73-0.383,2.038-2.825,2.259-4.888c0.574-0.047,1.479-0.607,1.744-2.818  c0.143-1.187-0.425-1.855-0.771-2.065c0.934-2.809,2.874-11.499-3.588-12.397c-0.665-1.168-2.368-1.759-4.581-1.759  c-8.854,0.163-9.922,6.686-7.981,14.156c-0.345,0.21-0.913,0.878-0.771,2.065c0.266,2.211,1.17,2.771,1.744,2.818  c0.22,2.062,1.58,4.505,2.312,4.888c0,1.473,0.055,2.598-0.091,4.21c-1.261,3.39-7.737,3.655-11.473,6.924  c3.906,3.933,10.236,6.746,16.916,6.746s14.532-5.274,15.839-6.713C37.688,39.186,31.197,38.93,29.933,35.528z" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                    </svg>
                </a>

                <!-- PRZEKIEROWANIE DO KOSZYKA -->
                <a href="XD.com">
                    <?xml version="1.0" ?>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" width="50" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                </a>
                                
        </div>

        
    </nav>

<main>
 {% block content%}

 {% endblock %}
</main>


    <footer class="bg-gray-100">
        <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
            <div class="footer-left mb-12 md:mb-0">
                <h2 class="mb-5 uppercase text-lg">O nas</h2>

                <p class="text-gray-700">Lorem, ipsum.</p>
            </div>
            <div class="footer-rght">
                <h2 class="mb-5 uppercase text-lg">Linki</h2>

                <ul class="space-y-2">
                    <li><a href="#" class="text-purple-500 hover:text-purple-800">Facebook</a></li>
                    <li><a href="#" class="text-purple-500 hover:text-purple-800">Twitter</a></li>
                    <li><a href="#" class="text-purple-500 hover:text-purple-800">Instagram</a></li>
                    <li><a href="#" class="text-purple-500 hover:text-purple-800">Facebook</a></li>
                </ul>

            </div>

        </div> </footer>
</body>
</html>